<app-navbar></app-navbar>
<main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info" class="fix-top">Catalog Page</h2>
                <p>The freshest crops for you to get. Place your bids and treat yourself with crops directly from the farmers.</p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-3">

                        <app-filters></app-filters>
                    </div>
                    <div class="col-md-9">
                        <div class="products">
                            <app-products></app-products>
                            <!-- <nav>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#"
                                            aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" (click)="fetchcontentpage(1)">1</a></li>
                                    <li class="page-item"><a class="page-link" (click)="fetchcontentpage(2)">2</a></li>
                                    <li class="page-item"><a class="page-link" (click)="fetchcontentpage(3)">3</a></li>
                                    <li class="page-item"><a class="page-link" (click)="fetchcontentpage(4)" aria-label="Next"><span
                                                aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
