<div class="row no-gutters">
  <!--  -->
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of items">
    <div class="clean-product-item">
      <div class="image"><a [routerLink] = "['/cropproduct']"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a [routerLink] = "['/cropproduct']">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="clean-product-item">
      <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a><a
          href="#"></a></div>
      <div class="product-name"><a href="#">Lorem ipsum dolor sit amet</a></div>
      <div class="about">
        <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img
            src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg">
        </div>
        <div class="price">
          <h3>$100</h3>
        </div>
      </div>
    </div>
  </div> -->
</div>
